[submodule "RestKit"]
	path = RestKit
	url = git://github.com/RestKit/RestKit.git
[submodule "SDWebImage"]
	path = SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = git://github.com/matej/MBProgressHUD.git
[submodule "PullToRefresh"]
	path = PullToRefresh
	url = https://github.com/leah/PullToRefresh.git
[submodule "OHAttributedLabel"]
	path = OHAttributedLabel
	url = https://github.com/AliSoftware/OHAttributedLabel.git
